/* Utils */
:root {
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --ouwer-text-color: #757575;
  --acent-color: #2196f3;
  --contener-color: #eeeeee;
  --logo-color-text: #000000;
  --buttons-port-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-footer-color: #2f303a;
  --background-section: #e5e5e5;
  --line-color: #ececec;
  --background-color: #ffffff;
  --icon-color: #afb1b8;
}

/* Base */
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul,
ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  min-height: auto;
}

/* Layout */
header {
  border-bottom: 1px solid var(--line-color);
}

.header-nav {
  display: flex;
  align-items: center;
  height: 80px;
}

.header-portfolio {
  display: flex;
  align-items: center;
  height: 80px;
}

.logo {
  color: var(--logo-color-text);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-word {
  color: var(--acent-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0px;
}

.item {
  position: relative;
}

.link-nav {
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover, .link-nav:focus {
  color: var(--acent-color);
}

.link-nav.current {
  color: var(--acent-color);
}

.link-nav.current::after {
  position: relative;
  content: "";
  display: block;
  bottom: -30px;
  left: 0;
  height: 4px;
  border-radius: 2px;
  background-color: var(--acent-color);
}

.kontakt-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.kontakt-nav .item {
  fill: var(--ouwer-text-color);
  margin-right: 50px;
}

.kontakt-nav .item:last-child {
  margin-right: 0px;
}

.tel-mail {
  display: inline-flex;
  align-items: center;
  color: var(--ouwer-text-color);
  font-weight: 500;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-mail:hover, .tel-mail:focus {
  color: var(--acent-color);
  fill: var(--acent-color);
}

.tel-icon {
  margin-right: 10px;
}

.hero-section {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/index/img-hero.jpg);
  background-color: var(--background-hero-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-button {
  min-width: 200px;
  display: inline-block;
  border: 0px;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--background-color);
  background-color: var(--acent-color);
  cursor: pointer;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.modal-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-icon {
  align-items: center;
  width: 17px;
  height: 17px;
}

.modal-icon:focus {
  fill: var(--acent-color);
}

.title-modal {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  font-weight: bold;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  margin-top: 10px;
  letter-spacing: 0.01em;
  color: var(--ouwer-text-color);
}

.modal-form-input-icon {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--acent-color);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--acent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  align-items: center;
  width: 18px;
  height: 18px;
  fill: var(--main-text-color) transition fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-top: 4px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  padding: 12px 16px;
}

.modal-form-comment::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment:focus {
  outline: none;
  border-color: var(--acent-color);
}

.modal-form-policy {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--ouwer-text-color);
}

.modal-form-policy::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  background-image: url(../image/icon/icon-check-0.svg);
}

.policy-link {
  color: var(--acent-color);
  margin-left: 5px;
}

.modal-form-checkbox:checked + .modal-form-policy::before {
  background-image: url(../image/icon/icon-check.svg);
}

.modal-btn {
  align-self: center;
  margin-top: 30px;
}

.features {
  padding-top: 94px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  width: 270px;
  margin-right: 30px;
}

.features-item:last-child {
  margin-right: 0px;
}

.title-hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.features-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-title::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--buttons-port-color);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../image/icon/antenna-1.png);
}

.icon-clock::before {
  background-image: url(../image/icon/clock-1.png);
}

.icon-diagram::before {
  background-image: url(../image/icon/diagram-1.png);
}

.icon-astronaut::before {
  background-image: url(../image/icon/astronaut-1.png);
}

.features-text {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--ouwer-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-list {
  display: flex;
}

.work-list .work-img {
  margin-right: 30px;
}

.section-title-work {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.work-card-overlay {
  position: relative;
}

.work-overlay-text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.work-desktop {
  padding: 27px 82px 27px 83px;
}

.work-mob {
  padding: 27px 85px 27px 86px;
}

.work-design {
  padding: 27px 90px 27px 91px;
}

.team-section {
  background-color: var(--buttons-port-color);
}

.section-title-team {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-cards {
  display: flex;
}

.card-team {
  background-color: var(--background-color);
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-team:last-child {
  margin-right: 0px;
}

.team-img {
  display: block;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-name {
  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-work {
  margin-top: 10px;
  margin-bottom: 30px;
  color: var(--ouwer-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:last-child {
  margin-right: 0px;
}

.social-link:hover, .social-link:focus {
  background-color: var(--acent-color);
  fill: var(--secondary-text-color);
}

.social-item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
}

.social-icon {
  align-items: center;
  width: 20px;
  height: 20px;
}

.client-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.client-list {
  display: flex;
  justify-content: center;
}

.client-item {
  width: 170px;
  height: 90px;
  margin-right: 30px;
}

.client-item:last-child {
  margin-right: 0px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 1px solid var(--icon-color);
  fill: var(--icon-color);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover, .client-link:focus {
  fill: var(--acent-color);
  border: 1px solid var(--acent-color);
}

.client-icon {
  display: flex;
  justify-content: center;
}

.logo-1 {
  width: 44.27px;
  height: 49.23px;
}

.logo-2 {
  width: 40px;
  height: 52px;
}

.logo-3 {
  width: 41px;
  height: 42.6px;
}

.logo-4 {
  width: 79.66px;
  height: 42.02px;
}

.logo-5 {
  width: 59px;
  height: 47px;
}

.logo-6 {
  width: 88.48px;
  height: 45.44px;
}

/* Potfolio */
.portfolio-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filters .button:first-child {
  margin-right: 0px;
}

.button {
  display: inline-block;
  color: var(--main-text-color);
  background-color: var(--buttons-port-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  margin-left: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: var(--background-color);
  background-color: var(--acent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button:active {
  color: var(--background-color);
  background-color: var(--acent-color);
}

.portfolio-section {
  padding-top: 77px;
  padding-bottom: 94px;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
}

.project {
  width: 370px;
  border: 1px solid var(--contener-color);
  margin-right: 30px;
  margin-bottom: 30px;
}

.project:nth-child(3n) {
  margin-right: 0px;
}

.project:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card-link:hover, .project-card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(197, 156, 156, 0.16);
}

.project-card-link:hover .overlay-text-conteiner, .project-card-link:focus .overlay-text-conteiner {
  transform: translateY(0);
}

.card-text {
  padding: 20px 24px;
}

.project-title {
  margin-bottom: 4px;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-name {
  margin-top: 0px;
  color: var(--ouwer-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-card-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text-conteiner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: var(--secondary-text-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  padding: 63px 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
}

/* Footer */
.footer-background {
  background-color: var(--main-text-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer-nav {
  margin-right: 70px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.tel-mail-footer {
  display: inline-block;
  margin-bottom: 9px;
  color: var(--footer-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.tel {
  margin-bottom: 0px;
}

.footer-map {
  display: inline-block;
  margin-bottom: 9px;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.container-social-link {
  display: inline-block;
}

.footer-title {
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social {
  display: flex;
  justify-content: center;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  fill: var(--secondary-text-color);
  background: rgba(255, 255, 255, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:last-child {
  margin-right: 0px;
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--acent-color);
  fill: var(--secondary-text-color);
}

.footer-social-item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
}

.footer-social-icon {
  align-items: center;
  width: 20px;
  height: 20px;
}

.form-footer {
  height: 86px;
  margin-left: 93px;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: inherit;
  color: var(--secondary-text-color);
}

.footer-input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  display: inline-flex;
  margin-left: 12px;
  align-items: center;
}

.footer-btn-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
/*# sourceMappingURL=main.css.map */