.hero-section {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/index/img-hero.jpg);
  background-color: var(--background-hero-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-button {
  min-width: 200px;
  display: inline-block;
  border: 0px;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--background-color);
  background-color: var(--acent-color);
  cursor: pointer;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
