:root {
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --ouwer-text-color: #757575;
  --acent-color: #2196f3;
  --contener-color: #eeeeee;
  --logo-color-text: #000000;
  --buttons-port-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-footer-color: #2f303a;
  --background-section: #e5e5e5;
  --line-color: #ececec;
  --background-color: #ffffff;
  --icon-color: #afb1b8;
}